body {
    background-image: url(banner.svg);
    background-repeat-x: no-repeat;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}

.hello-nav {
	background: none !important;
    width: 100%;
    padding: 20px 0px;
}

h1.main-title {
	font-family: 'Permanent Marker', cursive;
	font-size: 65px;
    padding: 58px 0px;
}

h4.sub-title {
	font-size: 32px;
    font-weight: normal;
}

button.btn.btn-dark.main-cta {
	margin: 32px 0px;
}

.container.features {
	padding-top: 32px;
}

.card-body {
    background: white;
    border-radius: 4px;
}